@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* Design Tokens */
  --color-bg: #f9f9f8;
  --color-surface: #ffffff;
  --color-surface-muted: #fcfcfc;

  --color-text: #171717;
  --color-muted: #71717a;

  --color-border: #eaeaea;
  --color-border-strong: #d4d4d4;

  --color-primary: #0f766e;
  --color-primary-strong: #0f5f58;
  --color-primary-subtle: #ccfbf1;
  --color-primary-border: #99f6e4;
  --color-primary-text: #134e4a;

  --color-warning-bg: #fff7ed;
  --color-warning-border: #ffedd5;
  --color-warning-text: #9a3412;

  --color-danger-bg: #fef2f2;
  --color-danger-border: #fee2e2;
  --color-danger-text: #7f1d1d;
  --color-danger: #ef4444;

  --radius-sm: 8px;
  --radius-md: 14px;
  --radius-lg: 20px;

  --shadow-sm: 0 4px 12px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.02);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}
